* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
:root {
  --color-1: rgb(235, 231, 225);
  --color-2: rgb(50, 103, 249);
  --color-3: black;
  --color-4: rgb(240, 238, 238);
  --color-5: white;
  --color-6: rgb(235, 243, 246);
  --color-7: #1e3448;
}
body {
  background-color: var(--color-5);
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
}
/* navigation bar, logo , nav href  style */
.nav_bar {
  display: flex;
  padding: 1em;
  justify-content: space-around;
  align-items: center;
  padding-right: 2em;
  font-size: 1.1em;
}
.nav_bar img {
  margin-left: 5em;
  margin-top: -5px;
}
.nav_href {
  display: flex;
  gap: 2em;
  margin-top: 10px;
}
.nav_href .My_urls {
  color: var(--color-2);
}
.nav_href .All_black {
  color: var(--color-3);
}
.nav_href .log_in {
  color: var(--color-2);
  margin-left: 5em;
}
.nav_href .Try_for_free {
  border: 1px solid;
  padding: 12px 30px;
  border-radius: 50px;
  background-color: var(--color-2);
  color: var(--color-4);
  font-style: 16px;
  margin-top: -15px;
}
/* the first section */
#URL h1 {
  text-align: center;
  margin: 1em;
  font-size: 3.4em;
  line-height: 1.5em;
  span {
    font-size: 1.2em;
    font-weight: 700;
    color: var(--color-2);
  }
}
/* strike style */
.strike::after {
  content: url(../image/Strikeimage.png);
  color: var(--color-2);
  position: absolute;
  top: 240px;
  left: 620px;
}
.Personalize-1 {
  font-size: 25px;
  text-align: center;
  padding-left: 215px;
  padding-right: 215px;
  line-height: 1.5em;
  margin-top: 60px;
}
.Sign_up {
  border: 1px solid;
  background-color: var(--color-2);
  color: var(--color-5);
  padding: 15px;
  width: 200px;
  font-size: 25px;
  border-radius: 52px;
  margin-left: 520px;
  margin-top: 50px;
}
.Learn_h3 {
  text-align: center;
  margin-left: 250px;
  margin-top: -2.5em;
  color: var(--color-2);
}
.background_image {
  background-image: url(../image/Group_1.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  margin-top: 5em;
}
.middle_shapes {
  height: 89px;
  margin-top: -50px;
}
img[alt="ellipse"] {
  margin-top: 30px;
  margin-left: 210px;
  width: 900px;
}
img[alt="Rectangle"] {
  top: -65px;
  position: relative;
  z-index: -1;
  max-width: 98.4vw;
}
/* frame */
.Frame {
  display: flex;
  justify-content: space-around;
  background-color: var(--color-6);
  padding: 1.7em;
  margin-top: 22px;
  width: 100%;
}
.stop_Possibilities {
  display: grid;
  font-size: 25px;
  margin-left: 40px;
}
.span_p {
  color: var(--color-2);
}
.Group {
  display: flex;
  gap: 50px;
  line-height: 10px;
}
.Group h6 {
  font-size: 10px;
  margin-top: 13px;
}
.container {
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: var(--color-5);
}

.why-choose {
  font-size: 42px;
}

.why_first_header {
  display: flex;
  background-repeat: no-repeat;
  gap: 10px;
  margin-left: 100px;

  span {
    color: #005ae2;
  }
}
.line-fade {
  height: 40px;
}
.img_1 {
  width: 30px;
}

.why_p {
  margin-left: 120px;
  margin-top: 20px;
  line-height: 28px;
}

.feat_S {
  margin-left: 80px;
}

.url-all {
  display: flex;
  gap: 25px;
  margin-bottom: 50px;
}

.data_chart {
  display: flex;
  gap: 25px;
}
.top_paragraph {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 500;
}

.all_paragraph {
  line-height: 24px;
}
/* price section */
.pricing {
  display: flex;
  justify-content: center;
}
.pricing img {
  margin-left: -20px;
  margin-bottom: -45px;
}
.price_head {
  font-size: 40px;
  span {
    color: var(--color-2);
  }
}
.price_paragraph {
  font-size: 17px;
  line-height: 30px;
  margin-left: 5px;
}
.price_p {
  margin-left: 100px;
}
/* basic , professional , Teams style */
.price_perfect {
  display: flex;
  justify-content: center;
  gap: 0px;
  margin-top: 150px;
}
/* price */
.basic_price {
  height: 350px;
  width: 350px;
  border-radius: 5px;
  text-align: center;
  padding-top: 60px;
  border: solid 0.7px var(--color-2);
}
.p_1 {
  position: absolute;
  margin-top: -45px;
  margin-left: 65px;
  font-size: 17px;
}
.basic_price h2 {
  margin-right: 160px;
  margin-bottom: 20px;
  font-size: 30px;
}
.free_plan {
  margin-right: 70px;
}

.grid {
  display: flex;
  margin-top: 10px;
  margin-left: 60px;
  margin-bottom: 20px;
}
.grid p {
  margin-left: 10px;
  margin-top: 4px;
}
.grid img {
  margin-top: 5px;
  width: 15px;
  height: 15px;
}
/* professional style */
.Professional {
  background-color: var(--color-7);
  color: var(--color-5);
  height: 450px;
  width: 350px;
  margin-top: -60px;
  text-align: center;
  border-radius: 8px;
  border: solid 0.9px var(--color-2);
}
.p_2 {
  margin-top: 60px;
  margin-bottom: 100px;
  margin-left: -120px;
  font-size: 17px;
}
.Professional h2 {
  margin-right: 70px;
  margin-top: -80px;
  font-size: 30px;
  margin-bottom: 10px;
}
.ideal {
  margin-bottom: 20px;
  margin-right: 30px;
}

/* Teams style */
.Teams {
  height: 350px;
  width: 350px;
  border-radius: 5px;
  text-align: center;
  padding-top: 60px;
  border: solid 0.7px var(--color-2);
}
.p_3 {
  font-size: 17px;
  margin-right: 180px;
  margin-bottom: 40px;
  margin-top: -40px;
}
.Teams h2 {
  margin-right: 110px;
  margin-top: -20px;
  margin-bottom: 20px;
}
.Teams .Share {
  margin-right: 50px;
  margin-bottom: 20px;
}
.button {
  display: flex;
  gap: 30px;
  margin-top: 50px;
  margin-left: 550px;
}
.Custom_button {
  width: 150px;
  padding: 10px;
  border-radius: 52px;
  border: 1px solid var(--color-2);
  background-color: var(--color-5);
  color: var(--color-2);
}
.select_pricing {
  width: 150px;
  padding: 10px;
  border: 1px solid var(--color-2);
  border-radius: 52px;
  background-color: var(--color-2);
  color: var(--color-5);
}
.desktop_image {
  margin-top: 100px;
  margin-bottom: 100px;
}
/* FAQs style */
.faqs_frame {
  margin: 0 auto;
  width: 700px;
  font-size: 15px;
}
.faqs_frame .faqs {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 30px;
  margin-bottom: 40px;
}
.faqs_frame .question {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 10px;
}
.faqs_frame .under_p {
  margin-bottom: 20px;
  line-height: 1.5em;
}
.img {
  width: 20px;
}
/* Rectangle */
.Rectangle_bg {
  margin-bottom: 100px;
  margin-top: 100px;
}
.Link {
  text-align: center;
  color: var(--color-5);
  margin-top: -290px;
  font-size: 30px;
}
.get_button {
  background-color: var(--color-2);
  color: var(--color-5);
  border: 1px solid var(--color-2);
  margin-left: 650px;
  margin-top: 30px;
  padding: 10px;
  width: 150px;
  border-radius: 50px;
}
footer {
  padding-left: 10px;
  padding-top: 50px;
  color: gray;
}
/* last section */
#last_footer {
  display: flex;
  gap: 70px;
  background-image: url(../assets/image/cleanup.jpg);
  background-size: cover;
  padding-top: 49px;
  padding-bottom: 30px;
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 200px;
}

.socials_logo {
  display: flex;
  gap: 25px;
  margin-left: 9px;
}

.all_right_main {
  display: flex;
  flex-direction: column;
}

.top-side {
  display: flex;
  gap: 70px;
}

.top_first,
.top_second,
.top_third {
  margin-right: 22px;
}

.bottom_all {
  display: flex;
  gap: 75px;
  position: relative;
  left: -70px;
}

.foot_head {
  margin-bottom: 20px;
}

.footer-paragraph {
  margin-bottom: 5px;
}

.footer_end {
  display: flex;
  justify-content: flex-end;
  position: relative;
  left: 92px;
  gap: 10px;
}
