* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  /* colors */
  --color-1: #effbf9;
  --color-2: white;
  --color-3: black;
  --color-4: #00b8a9;
  --color-5: gray;
}
body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: var(--color-1);
}
.container {
  width: 100%;
  display: flex;
  gap: 1em;
}
/* logo section */
.background {
  width: 100%;
  margin: 1em auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
  margin-right: 15em;
  gap: 1em;
}
.background img {
  margin-left: 4.9em;
  margin-right: 22.5em;
}
.background h1 {
  font-size: 1.2em;
  margin-right: 13.5em;
  margin-left: 4.5em;
}

.background .p-1 {
  font-size: 0.8em;
  font-weight: 600;
  margin-left: 7em;
  line-height: 1.7em;
  color: var(--color-5);
}
.background .mobile-p {
  display: none;
}
/* form section */
.form-wrapper {
  background-color: var(--color-2);
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  padding: 2em;
  margin-top: 2em;
  margin-right: 13em;
  gap: 1em;
  border-radius: 0.5em;
}
.grid input {
  width: 100%;
  padding: 1em;
  margin-top: 1em;
}
input:focus {
  outline: none;
  border: 2px solid var(--color-4);
}
.grid select {
  width: 100%;
  padding: 1em;
  margin-top: 1em;
}
.Activity-level {
  grid-column: span 2;
}
.Activity-level select {
  width: 100%;
  padding: 1em;
  margin-top: 1em;
}
.password {
  grid-column: span 2;
}
.password input {
  width: 100%;
  padding: 1em;
  margin-top: 1em;
}
button {
  grid-columns: span 2;
}
/* button */
.form-wrapper button {
  grid-column: span 2;
  width: 100%;
  padding: 1em;
  margin-top: 1em;
  background-color: var(--color-4);
  color: var(--color-2);
  border-radius: 0.5em;
  border: none;
}
/* terms of use */
.terms-of-use {
  grid-column: span 2;
  font-size: 0.8em;
  font-weight: bold;
  margin-right: 2em;
  margin-left: 2em;

  a {
    color: var(--color-4);
    text-decoration: underline;
  }
}
.mobile-terms {
  display: none;
}
/* media queries for mobile screen */
@media (max-width: 768px) {
  html,
  body {
    overflow-x: hidden;
  }
  body {
    display: flex;
    width: 100%;
    background-color: var(--color-1);
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid black;
  }
  .container {
    display: block;
    padding-left: 1.6em;
    padding-right: 1.6em;
    padding-top: 0 auto;
    margin: 0 auto;
    gap: 1em;
  }
  .background {
    display: block;
    padding: 20px;
    margin-right: 20em;
    font-size: 20px;
  }
  .background img {
    margin: 0 auto;
    width: 40px;
  }
  .background h1 {
    margin-left: 3px;
    font-size: 0.6em;
    font-weight: bold;
  }
  .background .p-1 {
    display: none;
  }
  .background .mobile-p {
    color: var(--color-5);
    display: contents;
    font-size: 11.2px;
    font-weight: 200;
    line-height: 0.5em;
  }
  .form-wrapper {
    display: block;
    width: 100%;
    margin-bottom: 9em;
    border-radius: 5px;
  }
  .form-wrapper .grid input {
    /* width: 100%; */
    padding: 1em;
    margin-bottom: 1em;
  }
  .form-wrapper .grid select {
    /* width: 100%; */
    padding: 1em;
    margin-bottom: 1em;
  }
  .form-wrapper .Activity-level {
    /* width: 100%; */
    margin-bottom: 1em;
  }
  .form-wrapper .password {
    /* width: 100%; */
    margin-bottom: 1em;
  }
  .form-wrapper button {
    /* width: 100%; */
    margin-bottom: 1em;
    border-radius: 0.1em;
  }
  .terms-of-use {
    display: none;
  }
  .mobile-terms,
  p {
    display: block;
    width: 100%;
    margin-top: -120px;
    margin-left: 10.5px;
    padding-right: 9px;
    font-size: 12.5px;
    line-height: 1.5em;
    a {
      color: var(--color-4);
    }
  }
}
